{% load static %}
<section class='header px-5'>
    <div class='d-flex align-items-center justify-content-between m-0 p-0' style='height: auto;'>
        <p style='font-size:13px' class='m-0 p-0'>Bienvenue dans la boutique de commerce électronique en ligne DIC1.</p>
        <div class='d-flex align-items-center justify-content-between m-0 p-0' style='height: auto;'>
            <p style='font-size:13px' class='me-3 m-0 p-0'>Suivez-nous :</p>
            <ul class='d-flex align-items-center m-0 p-0'>
                <i class="fa-brands fa-twitter" style="color: #ffffff;font-size:13px"></i>
                <i class="bi bi-facebook" style="font-size:13px"></i>
                <i class="fa-brands fa-pinterest-p" style="color: #ffffff;font-size:13px"></i>
                <i class="bi bi-reddit" style="font-size:13px"></i>
                <i class="bi bi-youtube" style="font-size:13px"></i>
                <i class="fa-brands fa-instagram" style="color: #ffffff;font-size:13px"></i>
            </ul>
            <div style='height:100%;width:1px;background-color:gray;' class='ms-3 me-2 p-0'><span style='color:#1b6392'>n</span></div>
            <select class="form-select langue" aria-label="Default select example" style='width:75px;'>
                <option value="fr" selected>Fra</option>
                <option value="en">Eng</option>
            </select>
            <select class="form-select langue" aria-label="Default select example" style='width:80px;'>
                <option value="usd" selected>USD</option>
                <option value="veu">VEU</option>
            </select>
        </div>
    </div>
</section>
<div class="hr mt-1 mb-2" style="height: 1px;width:100vw;background-color:gray"></div>
<section class='header px-5'>
    <div class='d-flex align-items-center justify-content-between'>
        <li class="d-flex align-items-center align-items-center" href = "{% url "home-view" %}">
            <img class='me-0' src="{% static 'images/logo_shop_1.png' %}" alt="logo" style='width:34px;height:35px;position:relative;left:-10px'>
            <h6 class="text-light d-inline-block p-0 m-0" style="font-size: 18px !important;"><b>Boutique DIC1</b></h6>
        </li>
        <div class="search_bar d-flex align-items-center justify-content-between px-3 py-1">
            <input type="search" placeholder="Rechercher n'importe quoi...">
            <span class="" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
        </div>
        <ul class='d-flex position-relative'>
            <li class='cart me-2'>
                <i class="bi bi-cart2" style='font-size:22px;'></i>
                {% comment %} <p><span class='nb_article'>2</span></p> {% endcomment %}
            </li>
            <li><i class="bi bi-person" style='font-size:22px;'></i></li>
        </ul>
    </div>
</section>