@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;1,100&display=swap");
.login_signup .input-group-text:active,
.login_signup .input-group-text:focus {
  box-shadow: none !important;
  outline: none !important;
}
.login_signup form .input-group-append {
  top: 87px;
  right: 0;
}
@media screen and (max-width: 650px) {
  .login_signup form .input-group-append i {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 650px) and (min-width: 600px) {
  .login_signup form .input-group-append {
    top: 85px;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .login_signup form .input-group-append {
    top: 80px;
  }
}
@media screen and (max-width: 500px) {
  .login_signup form .input-group-append {
    top: 68px;
  }
}

@media screen and (max-width: 650px) {
  .signup_part2 form i {
    font-size: 18px !important;
  }
}
.signup_part2 form .eye1 {
  top: 23px;
  right: 0;
}
@media screen and (max-width: 650px) and (min-width: 600px) {
  .signup_part2 form .eye1 {
    top: 21px;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .signup_part2 form .eye1 {
    top: 16px;
  }
}
@media screen and (max-width: 500px) {
  .signup_part2 form .eye1 {
    top: 15px;
  }
}
.signup_part2 form .eye2 {
  top: 87px;
  right: 0;
}
@media screen and (max-width: 650px) and (min-width: 600px) {
  .signup_part2 form .eye2 {
    top: 85px;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .signup_part2 form .eye2 {
    top: 80px;
  }
}
@media screen and (max-width: 500px) {
  .signup_part2 form .eye2 {
    top: 68px;
  }
}

.errorlist {
  display: inline-block;
  color: red;
  margin-bottom: 10px;
}

.password_input {
  position: relative;
}

body {
  min-width: 450px;
}

body * {
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  body * {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 600px) and (min-width: 500px) {
  body * {
    font-size: 13px !important;
  }
}

.main_block, .header, .footer .row, .barre > p {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}
@media screen and (max-width: 1000px) {
  .main_block, .header, .footer .row, .barre > p {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .main_block, .header, .footer .row, .barre > p {
    width: 95%;
  }
}

.main_block {
  flex-grow: 1;
}
.main_block * {
  box-sizing: border-box;
  font-family: Public Sans;
}

.head {
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: #1b6392;
}

.header {
  color: white;
  margin: auto;
  padding-left: auto;
  padding-right: auto;
}
.header * {
  color: white;
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  .header .logo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 395px) {
  .header .bienvenue {
    border-bottom: 1px solid gray;
  }
}
.header select {
  font-size: 14px;
  border: none !important;
  background-color: transparent;
}
.header select * {
  color: #1b6392 !important;
}
@media screen and (max-width: 350px) {
  .header select {
    width: 150% !important;
  }
  .header select option {
    font-size: 8px !important;
  }
}
.header .search_bar {
  background-color: white;
  border-radius: 2px;
  width: 45% !important;
}
@media screen and (max-width: 700px) {
  .header .search_bar {
    flex-grow: 1;
    margin-left: 2px;
    margin-right: 2px;
  }
}
.header .search_bar input {
  border: none !important;
  width: 100%;
  color: black;
  font-size: 13px;
}
.header .search_bar input:focus, .header .search_bar input:active {
  outline: none;
  border: none;
}
.header .search_bar input::-moz-placeholder {
  font-size: 11px;
}
.header .search_bar input::placeholder {
  font-size: 11px;
}
.header .search_bar #search-addon i {
  color: black;
  cursor: pointer;
}
.header i {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.header .cart p {
  position: absolute;
  background-color: white;
  left: 18px;
  top: -4px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .cart p .nb_article {
  text-align: center;
  color: #1b6392;
  font-size: 11px;
  font-weight: bold;
}
.header .profil_utilisateur * {
  color: black;
}
.header .profil_utilisateur > a {
  cursor: pointer;
}
.header .profil_utilisateur .bi-person {
  font-size: 22px;
  cursor: pointer;
  color: white;
}
.header .profil_utilisateur .popup_user {
  display: none;
  z-index: 50000;
  background-color: white;
  color: black;
  left: -50px;
}
@media screen and (max-width: 1200px) {
  .header .profil_utilisateur .popup_user {
    left: -100px;
  }
}
.header .profil_utilisateur .popup_user .pp_user p {
  background-color: gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.header .profil_utilisateur .popup_user a.btn {
  background-color: #1b6392;
  color: white;
  white-space: nowrap;
}
.header .profil_utilisateur .popup_user .courriel {
  color: #1b6392;
}

.footer {
  padding-top: 40px;
  background-color: #191c1f;
}
.footer * {
  font-size: 12px !important;
}
@media screen and (max-width: 500px) {
  .footer .logo {
    flex-direction: column;
  }
}
.footer .hr {
  background-color: gray;
}
.footer .row {
  margin-bottom: 20px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  color: #ADB7BC;
  font-size: 12px;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.footer .row .footer_title {
  font-size: 10px;
  color: white;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.footer .row .contact ul {
  list-style-type: none;
}
.footer .row .contact ul li {
  white-space: normal;
}
.footer .row .populaire div {
  text-wrap: wrap;
}
.footer .row .populaire div span {
  box-sizing: border-box;
  display: inline-block;
  border: 0.5px solid gray;
  margin-bottom: 4px;
  color: white;
}
.footer .row .telechargement {
  color: white;
}
.footer .row .telechargement img {
  width: 50px;
  height: 50px;
}

ul {
  list-style-type: none;
  padding-left: 0%;
}
ul li {
  white-space: normal;
  list-style-type: none;
}
ul li a {
  color: #ADB7BC;
  text-decoration: none;
}

.panier {
  background-color: transparent;
}
@media screen and (min-width: 600px) and (max-width: 850px) {
  .panier {
    font-size: 13px;
  }
}
.panier .row .titre {
  font-family: Public Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-bottom: 14px;
  margin-top: 10px;
}
.panier thead tr {
  background-color: #E4E7E9;
  padding-left: 10px;
}
.panier thead tr th {
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  padding: 5px;
}
.panier td {
  padding-top: 20px;
}

.submit_panier {
  display: inline-block;
  color: #2DA5F3;
  text-align: center;
  outline: none;
  border: 2px solid #2DA5F3;
}

.submit_panier input, .submit_panier a {
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #2DA5F3;
  font-family: Public Sans;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.012em;
  text-align: left;
}

.submit_btn {
  display: inline-block;
  color: white;
  background-color: #FA8232;
  text-align: center;
  border: none;
  outline: none;
}

.submit_btn input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

@media screen and (max-width: 700px) {
  .details_produit form {
    margin: auto;
  }
}
@media screen and (min-width: 700px) and (max-width: 1100px) {
  .details_produit form {
    width: 100% !important;
  }
}
.details_produit .prod_detail_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details_produit .prod_detail_image img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 768px) {
  .details_produit .prod_detail_image img {
    width: auto;
    height: 100%;
    margin: 0%;
  }
}
@media screen and (max-width: 768px) {
  .details_produit .prod_detail_image {
    height: 25vh !important;
  }
}
@media screen and (min-width: 800px) {
  .details_produit .text_detail {
    padding-left: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .valider_panier > div {
    width: 100% !important;
  }
}

.info-user {
  color: #5F6C72;
}

@media screen and (max-width: 350px) {
  .modifier_info_user .maj_info {
    flex-direction: column;
    align-items: center;
  }
}
.modifier_info_user .pp {
  background-color: gray;
  min-width: 120px;
  max-width: 120px;
  max-height: 120px;
  min-height: 120px;
}
@media screen and (max-width: 650px) {
  .modifier_info_user .pp {
    min-width: 90px;
    max-width: 90px;
    max-height: 90px;
    min-height: 90px;
  }
}
.modifier_info_user *:focus {
  box-shadow: none !important;
}
.modifier_info_user .maj_mdp input {
  border-right: none !important;
}
.modifier_info_user input:focus {
  outline: none;
  border: none;
}
.modifier_info_user .input-group-text {
  border-left: none !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.modifier_info_user .input-group-text:active,
.modifier_info_user .input-group-text:focus {
  box-shadow: none !important;
  outline: none !important;
}

@media screen and (max-width: 600px) {
  .liste_categories select {
    display: block !important;
  }
  .liste_categories .liste_cat {
    display: none !important;
  }
}
.liste_categories .liste_cat {
  text-decoration: none;
  color: inherit;
  display: block;
  padding-bottom: 2px;
}
.liste_categories .liste_cat label {
  cursor: pointer !important;
}
.liste_categories .liste_cat label span {
  font-size: 13px;
}
.liste_categories .liste_cat label input[type=radio] {
  display: initial;
  visibility: hidden;
  width: 0px;
  height: 0px;
}
@media screen and (max-width: 800px) {
  .liste_categories .liste_cat label input[type=radio] {
    display: none !important;
  }
}
.liste_categories .liste_cat label input[type=radio] ~ span {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  padding-bottom: 5px;
  cursor: pointer;
}
.liste_categories .liste_cat label input[type=radio] ~ span:before {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  background: #fff;
  margin-right: 15px;
  border: 1px solid #b6b2b2;
  border-radius: 50%;
  left: 0;
  top: 2px;
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 800px) {
  .liste_categories .liste_cat label input[type=radio] ~ span:before {
    display: none !important;
  }
}
.liste_categories .liste_cat label input[type=radio]:checked ~ span:before {
  border: 5px solid rgb(250, 130, 50);
}
@media screen and (max-width: 800px) and (min-width: 600px) {
  .liste_categories .liste_cat {
    display: inline-block;
    box-shadow: #1b6392 0px 2px 2px 0px;
    padding: 2px;
    margin: 5px;
    border-radius: 3px;
  }
}

@media (min-width: 350px) and (max-width: 768px) {
  .liste_produits .row > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.liste_produits .row > div > a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.liste_produits .row > div > a .image_produit {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.liste_produits .row > div > a .image_produit img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1000px) {
  .profil_utilisateur > .row {
    width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */