{% extends "base.html" %}
{% load static %}
{% block title %}Inscription{% endblock  %}
{% block page %} <a href='{% url "edit-user-view" %}' style='color:inherit;text-decoration:none'>Inscription</a>{% endblock  %}
{% block content %}
      <div class="wrapper my-5 mx-auto px-4 py-3 signup_part2">
         <div class="form-container">
            <div class="slide-controls">
               <input type="radio" name="slide" id="login" >
               <input type="radio" name="slide" id="signup" checked>
               <label for="login" class="slide login"> 
                  <a href = '{% url "signup-login-view"%}' class='w-100' style='display: inline-block;color:gray;text-decoration:none'>Connexion</a>
                </label>
               <label for="signup" class="slide signup">Une inscription</label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
               <form class="signup position-relative" method = 'POST'>
                {% csrf_token %}
                {{ form.as_div }}
                <p class='d-flex align-items-center' style='font-size:14px;color:#2DA5F3'>
                  <input type="checkbox" id="regles_utilisation" name="regles_utilisation" required>
                  <label for="regles_utilisation">Êtes-vous d'accord avec les conditions d'utilisation 
                    et la politique de confidentialité?.
                  </label>
                </p>
                  <p style='color:red;' id='verification_mdp'></p>
                  <span class="submit_btn w-100">
                    <input type="submit" value="S'inscrire" class='py-2 fw-bold ' name='signup_form'>
                    <i class="bi bi-arrow-right" style='cursor:pointer;'></i>
                  </span>
                  <div class="input-group-append eye1 border-0 position-absolute">
                    <button type="button" class="input-group-text border-0 bg-transparent"><i class="bi bi-eye"></i></button>
                  </div>
                  <div class="input-group-append eye2 border-0 position-absolute">
                    <button type="button" class="input-group-text border-0 bg-transparent"><i class="bi bi-eye"></i></button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <script type='text/javascript'>
        const p_password = document.getElementById('id_password');
        const p_erreur = document.getElementById('verification_mdp');
        p_password.addEventListener('input', ()=>{
          if (document.querySelector('.errorlist')){
            document.querySelector('.errorlist').style.display = 'none';
          }
            const password = p_password.value;
            let msg = '';
            if (password.length < 8) {
                msg = "Le mot de passe doit contenir au moins 8 caractères";
            }else if (!/\d/.test(password)) {
                msg = "Le mot de passe doit contenir au moins un chiffre";
            }else if (!/[A-Z]/.test(password)) {
                msg = "Le mot de passe doit contenir au moins une lettre majuscule";
            }else if (!/[a-z]/.test(password)) {
                msg = "Le mot de passe doit contenir au moins une lettre minuscule";
            }
            if (msg){
              p_erreur.textContent = msg;
              p_erreur.style.color = 'red';
            }else{
              p_erreur.textContent = 'Votre mot de passe est fort';
              p_erreur.style.color = 'green';
            }
        });
      </script>
<style>
    ::selection{
    color: #fff;
  }
  .wrapper{
    max-width: 390px;
    background: #fff;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-bottom : 2px solid #FA8232;
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: black;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: gray;
  }
  #login:checked ~ label.signup{
    color: gray;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
    color: black;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s;
  }
{% comment %} La classe field est ajouté depuis le formulaire (forms.py) {% endcomment %}
  .form-inner form .field{ 
    height: 35px;
    width: 100%;
    margin-top: 0px;
    margin-bottom:5px;
  }
  .form-inner form div > input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    margin-top:0px;
    margin-top:0px;
  }
  .form-inner form div > label{
    margin-bottom:0px;
  }


  {% comment %} .form-inner form .pass-link{
    margin-top: 5px;
  } {% endcomment %}
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  {% comment %} .form-inner form .pass-link a, {% endcomment %}
  .form-inner form .signup-link a{
    color: #fa4299;
    text-decoration: none;
  }
  {% comment %} .form-inner form .pass-link a:hover, {% endcomment %}
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }

  #regles_utilisation:checked{
    background-color:red;
    outline:none;
    border:none;
  }
</style>
{% endblock content %}