{% extends "base.html" %}
{% load static %}

{% block title %}{{produit.nom}}{% endblock title %}
{% block page %} {{produit.nom}}{% endblock %}
{% block content %}
    <div class='details_produit'>
        <div class="row my-1 my-md-5" style='max-width:100%'>
            <div class="col-10 mx-auto col-md-6 border border-1 prod_detail_image" >
                <img {% if produit.images.all.0 %} 
                        src="{{ produit.images.all.0.image.url }}" 
                    {% else %} 
                        src="{% static "/images/No_image_available.png" %}" 
                    {% endif %} 
                    alt="">
            </div>
            <div class="col-12 col-md-6 py-1 m-0 text_detail position-relative">
                <p>{{ produit.nom }}</p>
                <ul class="d-flex justify-content-between px-sm-3 px-md-0 flex-column flex-sm-row">
                    <li class = ''>
                        <span style = "color: #5F6C72">ref</span> : 
                        <span style='color:#5F6C72;font-family: Public Sans;font-size: 14px;font-weight: 700;'>{{ produit.ref }}</span>
                    </li>
                    <li>
                        <span style = "color: #5F6C72">catégorie</span> : 
                        <span style='color:#5F6C72;font-family: Public Sans;font-size: 14px;font-weight: 700;'>{{ produit.categorie.nom }}</span>
                    </li>
                </ul>
                <span class='prix_produit d-inline-block text-center w-100 text-md-start' style='font-weight:600;color:#2DA5F3;font-size:18px'>{{ produit.prix }} $</span>
                <hr class="w-100">
                <p class='text-danger'>{{erreur}}</p>
                <form method = 'POST' class="row align-items-center" style='width:75%'>
                    {% csrf_token %}
                    <input type='text' name='id_produit' hidden value = "{{ produit.id }}">
                    <div class="col-10 col-md-6 col-lg-4 mb-1 mb-lg-0 compteur border border-1 d-flex justify-content-between align-items-center px-2 mx-auto" style="font-size: 13px;">
                        <i class="bi bi-dash" style="cursor: pointer;font-size:25px"></i>
                        <input type="text" min="01" name ='quantite' value='01' class="border-0 text-center" style="width: 60px;height:30px"
                                pattern="0*([1-9][0-9]*|[0-9]+)" title="Veuillez entrer un nombre entier."
                                required >
                        <i class="bi bi-plus" style="cursor: pointer;font-size:25px"></i>                                           
                    </div>
                    <span class="submit_btn col-10 mx-auto col-md-8 col-lg-7">
                        <input type="submit" value="AJOUTER AU PANIER" class='py-2 fw-bold' style="font-weight:700">
                        <i class="bi bi bi-cart2" style='cursor:pointer;'></i>
                    </span>
                </form>
                <p class='mx-auto d-flex pe-2 pt-4 pb-3 position-relative' style='width:77%;right:-80px'>
                        <span style='white-space:nowrap'>Partager le produit : </span>
                        <span class='d-flex'>
                            <img style='width:18px' src="{% static "images/copy-regular.svg" %}" alt="" class='ms-3 me-1'>
                            <img style='width:18px' src="{% static "images/facebook.svg" %}" alt="" class='mx-1'>
                            <img style='width:18px' src="{% static "images/twitter.svg" %}" alt="" class='mx-1'>
                            <img style='width:18px' src="{% static "images/pinterest-p.svg" %}" alt="" class='mx-1'>
                        </span>
                </p>
                <div class='border border-1 p-3'>
                    <p>Garantie à 100 % Paiement sécurisé</p>
                    <img src = "{% static 'images/Payment_Method.png' %}" style='max-width:100%'>
                </div>
            </div>
        </div>
        <div class="row mymd--5 border border-1 px-1 py-3">
            <div class="col-12 pe-1 col-md-5">
                <p class='' style='color:#191C1F;font-family: Public Sans;font-weight:600'>Description</p>
                <p class="text-justify" style="color:#5F6C72;font-size:14px;font-family: Public Sans">Le MacBook Pro le plus puissant de tous les temps est arrivé. Avec la puce M1 Pro ou M1 
                    Max ultra-rapide - la première puce Apple en silicium conçue pour les professionnels - 
                    vous obtenez des performances révolutionnaires et une autonomie incroyable. Ajoutez à 
                    cela un superbe écran Liquid Retina XDR, la meilleure caméra et le meilleur son jamais vu 
                    sur un ordinateur portable Mac, et tous les ports dont vous avez besoin. Premier 
                    ordinateur portable de son genre, ce MacBook Pro est une bête.
                    <br><br>
                    Même les projets les plus ambitieux sont gérés facilement grâce à un maximum de 10 
                    cœurs CPU, jusqu'à 16 cœurs GPU, un Neural Engine 16 cœurs et des moteurs de codage 
                    et de décodage média dédiés prenant en charge les codecs H.264, HEVC et ProRes.</p>
            </div>
            <div class="col-6 col-md-3 ">
                <p class='' style='color:#191C1F;font-family: Public Sans;font-weight:600'>Fonctionnalité</p>
                <ul class='p-0' style='font-size:14px ;color:#191C1F;font-weight:400'>
                    <li class = 'py-2 d-flex align-items-center'><i style="color: orange;" class="fas fa-medal icon_fonc me-3"></i>Garantie gratuite d'un an</li>
                    <li class = 'py-2 d-flex align-items-center'><img style='width:20px' src="{% static "images/truck-solid.svg" %}" alt="" class='me-2'>Livraison gratuite et livraison rapide</li>
                    <li class = 'py-2 d-flex align-items-center'><img style='width:20px' src="{% static "images/handshake-regular.svg" %}" alt="" class='me-2'> Garantie de remboursement à 100%</li>
                    <li class = 'py-2 d-flex align-items-center'><img style='width:20px' src="{% static "images/headphones-solid.svg" %}" alt="" class='me-2'>Assistance client 24h/24 et 7j/7</li>
                    <li class = 'py-2 d-flex align-items-center'><img style='width:20px' src="{% static "images/credit-card-regular.svg" %}" alt="" class='me-2'>Mode de paiement sécurisé</li>
                </ul>
            </div>
            <div class="col-6 col-md-4 ps-4" style="border-left:1px solid gray">
                <p class='' style='color:#191C1F;font-family: Public Sans;font-weight:600'>Informations sur la livraison</p>
                <ul class='p-0' style='font-size:14px ;color:#191C1F;font-weight:400;'>
                    <li class = 'py-1'>
                        <span style="color:#191C1F;font-weight:500" class="me-1">Courrier : </span><span style="color:#5F6C72">2 à 4 jours, livraison gratuite</span>
                    </li>
                    <li class = 'py-1'>
                        <span style="color:#191C1F;font-weight:500" class="me-1">Expédition terrestre UPS : </span><span style="color:#5F6C72">4 à 6 jours, 29$.00</span>
                    </li>
                    <li class = 'py-1'>
                        <span style="color:#191C1F;font-weight:500" class="me-1">Expédition locale : </span><span style="color:#5F6C72">jusqu'à une semaine, 19$.00</span>
                    </li>
                    <li class = 'py-1'>
                        <span style="color:#191C1F;font-weight:500" class="me-1">Exportation mondiale Unishop : </span><span style="color:#5F6C72">3 à 4 jours, 39$.00</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock  %}