{% extends "base.html" %}

{% block title %}Validation panier{% endblock title %}
{% block page %} <a href='{% url "cart-view" %}' style='color:black;text-decoration:none'>Panier</a> <span class='txt-dark' style='font-size:20px !important;'>></span> validateur{% endblock %}
{% block content %}
    <section class="valider_panier mx-auto my-5 d-flex">
        <div style = 'width:35%;' class='mx-auto'>
            <p class='text-center'>
                <i style="font-size: 70px; color: rgb(108, 180, 0);" class="bi bi-check2-circle"></i>
            </p>
            <h5 class='fw-bold;' style='font-weight:bold;text-align:center'><span>votre commande a été validée</span></h5>
            <p class="text-center" style='font-size:14px'>Pellentesque sed lectus nec tortor tristique accumsan quis 
                dictum risus. Donec volutpat mollis nulla non facilisis.</p>
            <p class = "submit_btn py-2 mb-4 mx-auto" style='width:37%;'>
                <a href="{% url "home-view" %}" style='color:white;text-decoration:none'>ACCEUIL</a>
                <i class="bi bi-arrow-right" style='cursor:pointer;margin:auto'></i>
            </p>
            <p class = "submit_btn py-2 mx-auto" style='opacity:0.6;width:50%'>
                <a href="{% url "home-view" %}" style='color:white;text-decoration:none'>SUIVRE LE COLIS</a>
                <i class="bi bi-arrow-right" style='cursor:pointer;'></i>
            </p>
            <style>
                .submit_btn{
                    display:block;
                }
            </style>
        </div>
    </section>
{% endblock  %}